In [1]:
import pandas as pd
from bokeh.plotting import figure, output_file, show,output_notebook

In [2]:
def make_dashboard(x, gdp_change, unemployment, title, file_name):
    output_file(file_name)
    p = figure(title=title, x_axis_label='year', y_axis_label='%')
    p.line(x.squeeze(), gdp_change.squeeze(), color="firebrick", line_width=4, legend="% GDP change")
    p.line(x.squeeze(), unemployment.squeeze(), line_width=4, legend="% unemployed")
    show(p)

In [3]:
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}

In [4]:
GDP_data = links['GDP']
df_GDP_data = pd.read_csv(GDP_data)
df_GDP_data

    date  level-current  level-chained  change-current  change-chained
0   1948          274.8         2020.0            -0.7            -0.6
1   1949          272.8         2008.9            10.0             8.7
2   1950          300.2         2184.0            15.7             8.0
3   1951          347.3         2360.0             5.9             4.1
4   1952          367.7         2456.1             6.0             4.7
..   ...            ...            ...             ...             ...
64  2012        16155.3        15354.6             3.6             1.8
65  2013        16691.5        15612.2             4.4             2.5
66  2014        17427.6        16013.3             4.0             2.9
67  2015        18120.7        16471.5             2.7             1.6
68  2016        18624.5        16716.2             4.2             2.2

[69 rows x 5 columns]

In [5]:
df_GDP_data.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

In [6]:
unemployment_data = links['unemployment']
df_unemployment_data = pd.read_csv(unemployment_data)
df_unemployment_data

    date  unemployment
0   1948      3.750000
1   1949      6.050000
2   1950      5.208333
3   1951      3.283333
4   1952      3.025000
..   ...           ...
64  2012      8.075000
65  2013      7.358333
66  2014      6.158333
67  2015      5.275000
68  2016      4.875000

[69 rows x 2 columns]

In [7]:
df_unemployment_data.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

In [8]:
question3 = df_unemployment_data[df_unemployment_data['unemployment'] > 8.5]
question3

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333

In [9]:
x = df_GDP_data['date']
x.head()

0    1948
1    1949
2    1950
3    1951
4    1952
Name: date, dtype: int64

In [10]:
gdp_change = df_GDP_data['change-current']
gdp_change.head()

0    -0.7
1    10.0
2    15.7
3     5.9
4     6.0
Name: change-current, dtype: float64

In [11]:
unemployment = df_unemployment_data['unemployment']
unemployment.head()

0    3.750000
1    6.050000
2    5.208333
3    3.283333
4    3.025000
Name: unemployment, dtype: float64

In [12]:
title = 'The Change in GDP from 1948 to 2016'
file_name = "index.html"

In [13]:
make_dashboard(x=x, gdp_change=gdp_change, unemployment=unemployment, title=title, file_name=file_name)